@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 disabled:cursor-not-allowed;
}

.btn-pagination {
  @apply px-4 py-2 font-bold text-white bg-blue-300 rounded hover:bg-blue-700 disabled:cursor-not-allowed;
}

.form-input {
  @apply w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: #fff;
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}
